<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		
		<script charset="utf-8" type="text/javascript" src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="underscore-min.js"></script>
		<link rel="stylesheet" href="style.css">
		<script type="text/javascript">
			 var user = '<%= user %>';
		</script>
	</head>
	<body>
		<h1 id='user'><%= user %></h1>
		<form id="dreams">
			<h2 type="text" id="question">What did you dream about?</h2>
			<textarea name="note" placeholder="dream..." id="dream_entry"></textarea>
			<input type="submit" value="Save" id="submit-button"/>
		</form>
		<div id="content"></div>
		<div id="homePage"><a href="/">Home Page</a></div>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>
