<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="homecss.css">
	</head>
	<body>
		<h1><%= title %></h1>
		<div id="login"><a href="login">Write your dream journal</a></div>
		<p id="subtitle">Read Dreams of Others and Share Dreams About Yourself</p>
		<div id="content"></div>
		<div id="documentation"><a href="documentation">Documentation</a></div>

		<script charset="utf-8" type="text/javascript" src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="underscore-min.js"></script>
		<script type="text/javascript" src="home.js"></script>
	</body>
</html>
